@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #202f5a;
  font-family: "Dosis", sans-serif;
}

.title {
  text-align: center;
  color: #fff;
  font-size: 3.2rem;
}

.container {
  width: 40rem;
  height: 40rem;
  margin: 8rem auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.box {
  border: 3px solid #ffdcad;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  color: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
}
